.rec{
   border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    background: #FFF;
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.18);
}
.oo{
    display: flex;
    gap: 10px;
    align-items: center;
}