.btn1{
    width: 150px;
height: 36px;
border-radius: 7px;
background: #1877F2;
color: #FFF;
font-family: Arial;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: flex;
justify-content: center;
align-items: center;

    position: relative;
    left: 80px;
}
.watchh{
    display: flex;
    gap: 10px;
}