*{margin: 0;}
.headerr{

    display: flex;
    align-items: center;
    margin: 0;padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    gap: 520px;
    height: 72px;    justify-content: center;
}

.container-icons{display: flex;
flex-direction: row;
gap: 70px;}

.mainn{display: flex;
flex-direction: row;background-color: #F0F0F0;
gap: 20px;justify-content: center;
    height: 1695px;    align-items: flex-start;
    overflow: hidden;}

.emptydiv{width: 17.109px;
height: 33.439px;}


.left-bar{
width: 345px;
height: 1658px;align-items: center;
display: flex;
flex-direction: column;
gap: 47px;background-color: #fff;
padding-top: 37px;margin-top: 4px;}

.iconplustext{display: flex;
flex-direction: column;width: 320px;
gap: 21px;}

.title-font{color: #000;
font-family: arial;
font-size: 16px;
font-style: normal;margin: 0;
font-weight: 400;
line-height: normal;}

.link-seemore-font{color: #1877F2;
font-family: Arial;
font-size: 13px;margin: 0;
font-style: normal;
font-weight: 700;
line-height: normal;
text-decoration: none;}

.box1-part3-aside{display: flex;
flex-direction: row;    width: 100%;
justify-content: space-between;}

.button-img-text-last-one-aside{text-decoration: none;
border-color: transparent;
display: flex;margin: 0;flex-direction: column;;background-color: transparent;
align-items: center;width: 320px;margin: 0;padding: 0;
gap: 22px;}

.sec2{display: flex;
flex-direction: column;    width: 747.285px;
gap: 18px;}

.box1-middle{width: 747.285px;
height: 276.421px;
border-radius: 7px;
background: #FFF;
margin-top: 16px;display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 18px;
    padding-right: 18px;
    box-sizing: border-box;
    justify-content: space-between;

;}


.posts-group{display: flex;
flex-direction: column;
gap: 14px;}

.colum3{display: flex;gap: 10px;
flex-direction: column;width: 332px;}

.container-leftpart-colum1{display: flex;
flex-direction: column;gap: 13px;}

.friendrequestbox{display: flex;
flex-direction: column;margin-top: 16px;
gap: 8px;}

.cards-cont-friends-requst{
    display: flex;
    flex-direction: column;gap: 13px;
}

.new-big-container{display: flex;
flex-direction: column;gap: 20px;}


.friendrequestbox2{display: flex;
flex-direction: column;
gap: 8px;}