body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #F0F0F0;
}

.headiv{
    width: 100%;
    height: 100px;
   background: #FFF;
    display: flex;
    justify-content: flex-start;
    padding: 0 40px;
    align-items: center;
}
.gapping{
    display: flex;
    gap: 70px;
}
.face{
       margin-right: 735px;
}
.sidebar{
    width: 345px;
height: 1658px;
background: #FFF;
padding: 20px;
display: flex;
/* justify-content: center; */
flex-direction: column;
border: 3px solid #F0F0F0;
align-items: flex-start;
}
.padd{
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.title{
    color: #000;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.mtitle{
    display: flex;
    gap: 268px;
}
.mainn{
      display: flex;
    gap: 30px;
    padding: 13px 0;
}

.see{
    color: #1877F2;
font-family: Arial;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.ux{
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.float{
padding: 15px;
 width: 778px;
    height: 231px;
    display: flex;
    background: #ffffff;
    justify-content: flex-start;
    align-items: center;
       border-radius: 7px;
}
.ee{
    width: 170px;
height: 215px;
border-radius: 7px;
display: flex;
gap: 20px;
background: #FFF;
box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.18);
}
.bb{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
