.firstcta{width: 150px;
height: 36px;
border-radius: 7px;
background: #1877F2;
color: #FFF;
font-family: Arial;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;border-color: transparent;
display: flex;margin: 0;padding: 0;
justify-content: center;
align-items: center;}