.newscard{
    display: flex;
    flex-direction: row;
    gap: 5px;    width: 300px;
}
.maincontent-group-news{display: flex;
flex-direction: column;gap: 1px;}

.title-news{color: #000;
font-family: Arial;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;margin: 0;}

.para-news{color: #000;
font-family: arial;
font-size: 10px;margin: 0;
font-weight: 400;
line-height: normal;}

.link-news{text-decoration: none;
color: #1877F2;
font-family: arial;margin: 0;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;}


.pic-news{width: 50px;
height: 50px;}