.post-main-card{width: 100%;
height: fit-content;
box-sizing: border-box;
border-radius: 7px;
background: #FFF;
box-sizing: border-box;
padding: 18px;
display: flex;
flex-direction: column;
gap: 5px;}

.part1-post{display: flex;flex-direction: row;align-items: center;
justify-content: space-between;}

.profile-part-post{display: flex;
flex-direction: row;
gap: 5px;
align-items: center;}

.name-box-post{display: flex;
flex-direction: column;}

.person-name-post{color: #000;
font-family: arial;
font-size: 16px;margin: 0;
font-weight: 400;}

.time-box-post{display: flex;
flex-direction: row;
gap: 3px;
align-items: center;}

.time-post{color: #888;
font-family: arial;
font-size: 13px;
font-style: normal;margin: 0;
font-weight: 400;
line-height: normal;}

.dot-time-post{width: 2px;
height: 2px;
background-color: #888;;}

.menu-post{width: 26px ;height: 6px;}
