.mainbox2-middele{width: 747.285px;
    border-radius: 7px;
background: #FFF;
height: fit-content;
box-sizing: border-box;
    padding: 18px;
display: flex;
flex-direction: column;
gap: 24px;
}

.text-box-field{width: 100%;
height: 40px;border-radius: 31px;
background: #F0F2F5;
box-sizing: border-box;display: flex;align-items: center;
padding-left: 13px;}

.first-container-writebox{display: flex;
flex-direction: row;
gap: 10px;
align-items: center;}

.text-example{color: #65676B;
font-family: arial;
font-size: 16px;
font-weight: 400;}

.line{width: 100%;
height: 1px;
background-color: #E4E6EB;}


.optionbox-writebox{display: flex;flex-direction: row;
align-items: center;gap: 6px;}

.text-optionbox-writebox{color: #65676B;
font-family: arial;margin: 0;
font-size: 16px;
font-weight: 400;}

.part3-writebox{display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
    box-sizing: border-box;
    padding: 0 50px;}